<p id="notice"><%= notice %></p>

<h1>Cocktails</h1>

<div class="container">
  <div class="row">

    <% @cocktails.each do |cocktail| %>
    <!--Card-->
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <!--Card image-->
        <div class= "card-body" >
            <%= link_to cocktail do %>
              <%= cl_image_tag cocktail.photo, height: 400, width: 600, crop: :fill, class: "card-picture"%>
            <% end %>
        </div>
        <!--Card content-->
        <div class="card-footer">
          <!--Title-->
          <h4 class="card-title"><%= cocktail.name %></h4>
          <!--Text-->

        </div>
      </div>
    </div>
    <% end %>

  </div>
</div>

<br>

<%= link_to 'New Cocktail', new_cocktail_path %>
