<p id="notice"><%= notice %></p>
<div>
  <div>
    <p>
      <strong>Name:</strong>
      <%= @cocktail.name %>
    </p>
    <%= link_to 'Edit', edit_cocktail_path(@cocktail) %> |
    <%= link_to 'Back', cocktails_path %>
  </div>
  <div>
    <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
  </div>
</div>

<table>
  <thead >
    <tr>
      <th>Ingredient</th>
      <th>Comment</th>
      <th>Options</th>


    </tr>
  </thead>

  <tbody>
    <% @doses.each do |dose| %>
      <tr>
        <td><%= dose.ingredient.name %></td>
        <td><%= dose.description %></td>
        <td><%= link_to "Delete",  cocktail_dose_path(@cocktail, dose), method: :delete, data: { confirm: 'Are you sure?' } %>
      </tr>
    <% end %>
  </tbody>
</table>

<div>
  <p> Add new ingredients <p>

  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :description %>
      <%= f.association :ingredient %>

    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>

